<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="color: black;">
    <h1> <%= tdate%></h1>
 
       <% for(var i=0;i<erl.length;i++) 
      {%> 
       <form action="/delete" method="post">
        <p>
        <input value="<%= erl[i]._id %>" onchange="this.form.submit()" name="checkboxx" type="checkbox" name="checkbox" >
   <span>   <%=erl[i].todos%>  </span>
    </p>
    <input type="hidden" name="hide" value="<%=tdate%>" >
  </form>
      <% }%>
    
    <form action="/" method="post">
    <input type="text" name="newItem" autofocus placeholder="Enter Your Today's Task" autocomplete="off">
    <button type="submit" name="btn" value="<%=tdate%>">Add</button>
    </form>
</body>
</html>